<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appLabel}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.LitKeep.Starting">

        <meta-data
            android:name="slogan"
            android:value="I love a girl, past, now and future." />
        <meta-data
            android:name="email"
            android:value="me@cufoon.com" />
        <meta-data
            android:name="website"
            android:value="www.cufoon.com" />
        <meta-data
            android:name="github"
            android:value="cufoon" />

        <activity
            android:name="cufoon.litkeep.android.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LitKeep.Starting"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>