.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 36px;
  font-size: 36px;

  .wrapper {
    padding-top: 4px;
    padding-right: 20px;
  }
}
