.outer {
  display: flex;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: 98px 50px 50px;
  background-color: rgb(255, 255, 255);
}
