.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px 60px;
  background-color: rgb(255, 255, 255);
  color: rgba(16, 16, 16, 100);
  font-size: 20px;

  .topPart {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

    .leftCol {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;

      .avatarWrapper {
        $height-set: 280px;
        display: flex;
        width: $height-set * 0.618;
        height: $height-set;
        align-items: center;
        justify-content: center;
        background-color: rgb(245, 245, 245);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0 0 0 5px rgb(245, 245, 245);

        .avatar {
          color: rgb(196, 196, 196);
          font-size: 100px;
        }
      }
    }

    .rightCol {
      .btnGroup {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .btn {
          border-radius: 8px;
        }
      }

      .needMargin {
        margin-left: 34px;
      }
    }
  }
}
